body {
  box-sizing: border-box;
  margin-left: 40px;
  background-color: #674baf;
  background-image: url("img/bg-desktop.svg");
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text h1 {
  color: white;
  font-family: "Poppins";
  font-size: 50px;
  margin-left: 20px;
}

.text p {
  font-family: "Open-Sans";
  margin-left: 20px;
  font-size: 20px;
  color: #f9ecf9;
}

.text > * {
  margin-left: 10px;
  justify-items: center;
}

button {
  background-color: #fff;
  border: none;
  color: #cc00cc;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30px;
  width: 200;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%);
}

button:hover {
  background-color: #d580ff;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.icons > i {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px;
  margin-right: 20px;
}

i:hover {
  color: #d580ff;
  border: 1px solid #d580ff;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container img {
    height: 312px;
    width: 415px;
  }
  .icons {
    margin-top: 20px;
    justify-content: center;
  }

  .text {
    align-items: center;
  }

  .text > h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    flex-direction: column;
  }
  .container img {
    height: 250px;
    width: 295x;
    margin-right: 20px;
  }
  .icons {
    margin-top: 20px;
    justify-content: center;
  }

  .text {
    align-items: center;
  }

  .text > h1 {
    font-size: 30px;
  }
}
